# Ignore node_modules in every folder
node_modules/

.angular/

# Optional: ignore common build/output folders
dist/
build/

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env